*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
	font-family: 'Roboto', sans-serif;
  margin-right: auto;
  overflow: auto;
}

.container{
  background-color: lightgrey;
	margin-left: auto;
	margin-right: auto;
  border-bottom: 1px black;
  max-width: 1200px;
  border-radius: 5px;
}

.container ul{
  padding: 0;
	list-style: none;
}

.main-header {

	display: flex;
  position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	height: 100px; /* NOTE: cambiar altura cuando tengamos contenido */
}

.imagen{
	position: absolute;
	margin-top: 25px;
	width: 200px;
	left: 20px;
}


.login a::before{
	position: relative;
	content: "|";
	text-align: center;
	right: 13px;
	color: black;
}

#none::before {
	display: none;
}


.main-nav ul{
	max-width: 1000px;
	list-style: none;
	margin-left: 200px;
	display: flex;
	margin-bottom: 70px;
  flex-direction: row wrap;
}

.main-nav li{
	flex-grow: 1;
  display: flex;
}

.main-nav a{
  position: relative;
  justify-content: space-around;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
	margin-left: 70px;
	margin-top: 50px;
  color: black;
}

.main-nav a:hover {
  background-color: dimgrey;
  color: black;
}

.login {
	width: 300px;
	position: absolute;
	top:15px;
	right: 10px;
  -webkit-flex-flow: row wrap;
	display: flex;
  justify-content: space-around;
}

.login li{
	flex-grow: 1;
}

.login a{
	margin-left: 0px;
	text-decoration: none;
	display: block;
  color: black;
}

h1{
  text-align: left;
  margin-bottom: 20px;
  padding-left: 25px;

}

.home_content_1{
  background-color: none;
  height: auto;

}



.home_main_image img{
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.texto_overlay{
  position: absolute;
  padding: 50%;
  align-self: center;
}

.home_content_2{
  margin-bottom: 50px;
  margin-top: 20px;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.home_content_2 h1{
  margin-left: -10px;
}

.home_content_2_txt{
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
}

.home_benefits {
  display: flex;
}

.home_benefits_1{
  width: 50%;
}

.home_benefits_2{
  margin-top: -10px;
  width: 50%
}

.home_benefits_3{
  width: 50%;
}

.home_benefits_4{
  margin-top: 5px;
  width: 50%
}

.home_benef_img{
  margin-left: auto;
  margin-right: auto;

}


section{
  display: block;
  justify-content: space-around;
  flex-flow: row wrap;
}

.home_benef_img{
  display: list-item;
}

.home_content_3{
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: lightgrey;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.home_content_3_txt{
  margin-top: 25px;
  margin-bottom: 25px;
}

.home_button{
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 1.2em;
  width: 150px;
  height: 50px;
  line-height: 0px;
  border-radius: 5px;
}

button:hover{
  background-color: rgb(130, 123, 123);
}

.button_video_link{
  text-decoration: none;
  color: white;
}
.home_content_4{
  padding-top: 20px;
  padding-bottom: 50px;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.home_content_4 h1 {
  margin-left: -25px;
}


.home_content_4_txt{

  padding-bottom: 20px;
  padding-left: 25px;
  text-align: left;
  margin-left: -25px;
}

.home_content_4_faq_1_txt{
  text-align: justify;
}

.home_content_4_faq_2_txt{
  text-align: justify;
}

.home_content_4_faq_3_txt{
  text-align: justify;
}

.faq{
  text-align: left;
}

.home_content_4_faq_1_icon{
  position: absolute;
  margin-left: -20px;
  margin-top: 2px;
}

.espacio_vacio{
		max-width: auto;
		height: 20px;
		margin-left: auto;
		margin-right: auto;
		background-color: white;
}

.container_footer{
  background-color: #4CAF50;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  }

.footer_top{
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
}

.columna1{
  height: 150px;
  width: 20%;
  margin-right: 100px;
  margin-left: -30px;

}

.columna1 label{
  margin-left: -35px;
}

.columna2{
  width: 30%;
  height: 100%;
  margin-right: 30px;
}

.columna2 label{
  margin-left: -110px;

}
.columna3{
  width: 20%;
  margin-right: -70px;
}

.columna3 label{
  margin-left: -35px;
}



.columna1 li{
  list-style: none;
  text-align: left;
  padding-left: 10%;
}

.columna2 ul li{
  list-style: none;
  text-align: left;
  padding-left: 10%;
}

.columna3 ul li{
  list-style: none;
  text-align: left;
  padding-left: 10%;
}

.label_footer_col{
  line-height: 25px;

}




footer a{
  outline:0px;
  text-decoration: none;
  color: white;
  font-size: 1em;
  line-height: 25px;
}

.footer_bottom{
  justify-content: center;
  font-size: 0.8em;
}


/* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

      .container{
        background-color: lightgrey;
      	margin-left: auto;
      	margin-right: auto;
        border-bottom: 1px black;
        max-width: 950px;
      }

      .espacio_vacio{
        max-width: 98vw;
      }

      .main-nav ul{
      	margin-left: 250px;
      	margin-bottom: 70px;
      }

      .main-nav li{
      	flex-grow: 0;
        display: flex;
      }

      .main-nav a{
      	margin-left: 10px;
      }

      .home_main_image img{
        width: 98%;
        margin-left: auto;
        margin-right: auto;

      }


      .home_content_2 {
      max-width: 960px;


      }

      .home_content_2 h1{

      max-width: 100vw;
      margin-left: -15px;
      margin-top: 20px;
      }

      .home_benefits {
        display: block;
      }

      .home_benefits_1, .home_benefits_2, .home_benefits_3, .home_benefits_4 {
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
      }

      .home_benef_img {
        margin-left: auto;
        margin-right: auto;
      }

      .home_content_3{
        max-width: 960px;
      }

      .home_content_3 h1{
        max-width: 950px;
        margin-left: -10px;
      }

      .home_content_4 {
        max-width: 98vw;
      }

      .home_content_4 h1, .home_content_4_txt{
        margin-left: -20px;
      }

      .home_content_4_faq{
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
      }

      .container_footer{
        background-color: #4CAF50;
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 98vw;
        margin-left: auto;
        margin-right: auto;
        }

        .columna1{
          height: 150px;
          width: 20%;
          margin-right: 50px;
        }

        .columna1 label{
          margin-left: 0px;
        }


        .columna2 label{
          margin-left: -50px;
        }

        .columna3 ul {
          margin-left: -20px;
        }


}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


  .container{
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px black;
    max-width: 750px;
  }

  .espacio_vacio{
    max-width: 740px;
  }

  .main-header{
    height: 120px;
  }



  .main-nav ul{


    margin-left: 0px;
    margin-top: 30px;
    position: relative;
    display: flex;
  }

  .main-nav li{
    flex-grow: 0;
    display: flex;
    margin-left: -3px;
  }

  .main-nav a{
    margin-left: 10px;
    font-size: 18px;
  }

  .imagen{

    position: absolute;
    margin-top: 0px;
    width: 200px;
    left: 10px;

  }

  .home_main_image img{
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
  }

  .home_content_3{
    max-width: 740px;
  }

  iframe {
    max-width: 700px;
  }

  .home_content_4 h1, .home_content_4_txt{
    margin-left: 0px;
    max-width: 740px;
  }

  .home_content_4_faq {
    max-width: 720px;
  }




  .container_footer{
    background-color: #4CAF50;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    }

    .columna1{
      height: 150px;
      width: 230px  ;
      margin-left: 0px;
      margin-right: 0;
    }

    .columna1 label {
      margin-left: -45px;
    }

    .columna2{
      height: 150px;
      width: 250;
      margin-right: 0px;
      margin-left: 0px;
    }

    .columna2 label {
      margin-left: -50px;
    }

    .columna3{
      height: 150px;
      width:230px;
      margin-left: 0px;
      margin-right: -40px;
    }

    .columna3 label {
      margin-left: -45px;
    }

    .columna1 li{
      list-style: none;
      text-align: left;
      padding-left: 10%;
      margin-left: 2px;
    }

    .columna2 ul li{
      list-style: none;
      text-align: left;
      padding-left: 10%;
      margin-left: 0px;
    }

    .columna3 ul li{
      list-style: none;
      text-align: left;
      padding-left: 10%;
      margin-left: 2px;

    }
    .columna1 a, .columna2 a, .columna3 a{
      font-size: 0.8em;

    }


    footer label{
      margin-left: 8px;
      font-size: 1.2em;
    }

    footer a{
      outline:0px;
      text-decoration: none;
      color: white;
      font-size: 0.9em;

    }

    .footer_top ul{
      font-size: 23px;
      margin-left: -30px;
    }

    .footer_bottom{
      margin-top: 30px;
      margin-left: -20px;
      font-size: 0.8em;
    }
}

/*mobile*/
    @media only screen and (max-width : 480px) {

.container{
  max-width: 98vw;
}


.imagen{

  position: absolute;
  top: 50px;
  width: 200px;
  margin-left: 20%;
}


.main-nav ul{


  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 2px;
  top: 150px;
}

.main-nav li{
  width: 98vw;
  display: block;
  background-color: #4CAF50;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-nav a{
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-nav a:hover{
  background-color: inherit;
}


.home_main_image img{
margin-top: 300px;
max-width: 95%;
height: 220px;
margin-left: auto;
margin-right: auto;

}

.login{
  width: 100%;
}

.login{
  font-size: 22px;
}

.home_content_3{
  max-width: 98%;
}

iframe {
  max-width: 90%;
}

.home_content_4 h1, .home_content_4_txt{
  margin-left: -20px;
  max-width: 98%;
}

.home_content_4_faq {
  max-width: 98%;
}



.footer_top{
  display: block;
}


.columna1{
  height: 200px;
  width: 100%  ;
  margin-left: auto;
  margin-right: auto;

}

.columna2{
  height: 250px;
  width: 100%  ;
  margin-left: auto;
  margin-right: auto;

}

.columna3{
  height: 150px;
  width: 100%  ;
  margin-left: auto;
  margin-right: auto;

}

.columna1 label, .columna2 label, .columna3 label{
  font-size: 1.5em;
  width: 100%;
  margin-left: 20px;
}

.columna1 ul li, .columna2 ul li, .columna3 ul li{
margin-bottom: 15px;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
text-align: center;

}



.footer_bottom{
  margin-top: 30px;
  margin-left: 20px;

}
