* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  margin-right: auto;
  overflow: auto;
}

.container{
  background-color: lightgrey;
	margin-left: auto;
	margin-right: auto;
  border-bottom: 1px black;
  max-width: 1200px;
  border-radius: 5px;
}

.container ul{
  padding: 0;
	list-style: none;
}

.main-header {
	display: flex;
  position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	height: 100px; /* NOTE: cambiar altura cuando tengamos contenido */
}

.imagen{
	position: absolute;
	margin-top: 25px;
	width: 200px;
	left: 20px;
}

.login a::before{
	position: relative;
	content: "|";
	text-align: center;
	right: 13px;
	color: black;
}

#none::before {
	display: none;
}

.main-nav ul{
	width: 1000px;
	list-style: none;
	margin-left: 190px;
	display: flex;
	margin-bottom: 70px;
  flex-direction: row wrap;
}

.main-nav li{
	flex-grow: 1;
  display: flex;
}

.main-nav a{
  position: relative;
  justify-content: space-around;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
	margin-left: 70px;
	margin-top: 50px;
  color: black;
}

.main-nav a:hover {
  background-color: dimgrey;
  color: black;
}

.login {
	width: 300px;
	position: absolute;
	top:15px;
	right: 10px;
  -webkit-flex-flow: row wrap;
	display: flex;
  justify-content: space-around;
}

.login li{
	flex-grow: 1;
}

.login a{
	margin-left: 0px;
	text-decoration: none;
	display: block;
  color: black;
}


/*>>>>>>>>>>>>>>>>>>>>>>>> HEADER*/

h2{
  text-align: left;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-top: 25px;
  color: #333333;
}

.registro_bienvenida{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wrap {
  width: 90%;
  max-width: 500px;
  padding: 40px;
  margin: auto;
  box-shadow: 0px 0px 3px grey;
}

.contenedor_formulario {
  width: 100%;
  color: black;
  padding: 50px;
}

.contenedor_formulario .formulario {
  width: 100%;
  margin: auto;
}

.contenedor_formulario .formulario .input_group {
  position: relative;
  margin-bottom: 32px;
}

.contenedor_formulario .formulario .input_group input[type="text"],
.contenedor_formulario .formulario .input_group input[type="email"],
.contenedor_formulario .formulario .input_group input[type="password"] {
  font-family: "Roboto";
  font-size: 16px;
  color: dimgrey;
  width: 100%;
  outline: none;
  padding: 15px;
  background: none;
  border: none;
  border-bottom: 2px solid dimgrey;
}

.contenedor_formulario .formulario .input_group label {
  color: dimgrey;
}

.contenedor_formulario .formulario .input_group label.label {
  margin-left: 15px;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 16px;
  left: 0;
}

.contenedor_formulario .formulario .input_group.checkbox label,
.contenedor_formulario .formulario .input_group.radio label {
  display: inline-block;
  cursor: pointer;
  color: dimgrey;
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 1em;
  border-radius: 3px;
}

.contenedor_formulario .formulario .input_group.checkbox label:hover, .contenedor_formulario .formulario .input_group.radio label:hover {
  background: lightgrey;
}

.contenedor_formulario .formulario .input_group.checkbox label:before, .contenedor_formulario .formulario .input_group.radio label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 15px;
  border-radius: 50%;
  background: none;
  border: 2px solid dimgrey;
}

.contenedor_formulario .formulario .input_group.error label:before {
  border: 2px solid dimgrey;
}

.contenedor_formulario .formulario .input_group.radio input[type="radio"] {
  display: none;
}

.contenedor_formulario .formulario .input_group.radio input[type="radio"]:checked + label:before {
  display: none;
}

.contenedor_formulario .formulario .input_group.radio input[type="radio"]:checked + label {
  padding: 5px 15px;
  background: #4CAF50;
  border-radius: 2px;
  color: #f2f2f2;
}

.contenedor_formulario .formulario .input_group.checkbox label:before {
  border-radius: 3px;
}

.contenedor_formulario .formulario .input_group.checkbox input[type="checkbox"] {
  display: none;
}

.contenedor_formulario .formulario .input_group.checkbox input[type="checkbox"]:checked + label:before {
  display: none;
}

.contenedor_formulario .formulario .input_group.checkbox input[type="checkbox"]:checked + label {
  background: #4CAF50;
  color: #f2f2f2;
  padding: 5px 15px;
}

.contenedor_formulario .formulario input[type="submit"] {
  background: #4CAF50;
  border-radius: 5px;
  border: 2px solid #f2f2f2;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto";
  font-size: 1.2em;
  width: 150px;
  height: 50px;
  line-height: 0px;
  text-align: center;
}

.contenedor_formulario .formulario input[type="submit"]:hover {
  background: dimgrey;
  color: #fff;
}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<FOOTER*/

.container_footer{
  background-color: #4CAF50;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  }

.footer_top{
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
}

.columna1{
  height: 150px;
  width: 200px;
  margin-right: 200px;
}

.columna2{
  height: 150px;
  width: 200px;
}

.columna3{
  height: 150px;
  width: 200px;
  margin-left: 200px;
}

.columna1 li{
  list-style: none;
  text-align: left;
  padding-left: 10%;
}

.columna2 ul li{
  list-style: none;
  text-align: left;
  padding-left: 10%;
}

.columna3 ul li{
  list-style: none;
  text-align: left;
  padding-left: 10%;
}

.label_footer_col{
  line-height: 25px;
}

footer a{
  outline:0px;
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  line-height: 25px;
}

.footer_bottom{
  text-align: center;
  font-size: 0.8em;
}
