*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	text-align: center;
}

ul {
  padding: 0;
	list-style: none;
}

body {
	background-color: white;
}


.conteiner {
  max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;

  }

.main-header {
  max-width: 1180px;
	position: relative;
  background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	height: 140px;
	text-align: center;
  }

.main-header img{
	position: absolute;
	margin-top: 3px;
	width: 300px;
	clip:rect(10px 200px 130px 100px);
	left: -70px;
}

.login {
	width: 100%;
	position: absolute;
	background-color: white;
	width: 340px;
	top:10px;
	right: -3px;
	margin-right: auto;
	text-align: center;
	display: flex;
}

.login li{
	flex-grow: 1;
}

.login a{
	margin-left: 0px;
	text-decoration: none;
	display: block;
}

.login a::before{
	position: relative;
	content: "|";
	text-align: center;
	right: 13px;
	color: black;
}

#none::before {
	display: none;

}

.main-nav {
	background-color: white;
}


.main-nav ul{
	width: 1000px;
	list-style: none;
	margin-left: 185px;
	display: flex;
	margin-bottom: 70px;
}

.main-nav li{
	flex-grow: 1;
}

.main-nav a{

		background-color: white;
    position: relative;
    display: block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
		margin-left: 54px;
		margin-top: 100px;
    color: black;
    }

  .main-nav a:hover {
    background-color: #c1c1c1;
  }

  .main-nav a:hover::after{

      position: absolute;
      content: "";
      top: 100%;
      margin-left: -50%;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: #c1c1c1 transparent;
      line-height: 0px;

  }
