*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	text-align: center;
}

a {
	outline:0px;
}

ul {
  padding: 0;
	list-style: none;
}

body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
}


.container {
  max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;

  }

.main-header {
  max-width: 1180px;
	position: relative;
  background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	height: 140px;
	text-align: center;
}

.imagen{
	position: absolute;
	margin-top: 25px;
	width: 100px;
	/*clip:rect(10px 200px 130px 100px);*/
	left: -10px;
}

.login {
	width: 300px;
	position: absolute;
	background-color: white;
	top:10px;
	right: -10px;
	margin-right: auto;
	display: flex;
}

.login li{
	flex-grow: 1;
}

.login a{
	margin-left: 0px;
	text-decoration: none;
	display: block;
}

.login a::before{
	position: relative;
	content: "|";
	text-align: center;
	right: 13px;
	color: black;
}

#none::before {
	display: none;

}

.main-nav {
	background-color: white;
}


.main-nav ul{
	width: 1000px;
	list-style: none;
	margin-left: 190px;
	display: flex;
	margin-bottom: 70px;
}

.main-nav li{
	flex-grow: 1;
}

.main-nav a{
	background-color: white;
	position: relative;
	display: block;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	margin-left: 70px;
	margin-top: 100px;
	color: black;
}

.main-nav a:hover {
  background-color: #c1c1c1;
}

/*.main-nav a:hover::after{

    position: absolute;
    content: "";
    top: 100%;
    margin-left: -50%;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #c1c1c1 transparent;
    line-height: 0px;
}*/

.espacio_vacio{
		max-width: 1200px;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
		background-color: white;

}

footer{
		max-width: 1180px;
		margin-left: auto;
		margin-right: auto;
		background-color: white;
		position: relative; /* Analizar si sirve */
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
}

.footer_top h4{
margin-bottom: 20px;
text-align: left;
}

.footer_col_1{
		width: 20%;
		position: relative;
		text-decoration: none;
		color: black;
		text-align: center;
		display: block;
		float: left;
}

.footer_col_2{
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		text-decoration: none;
		color: black;
		text-align: center;
		display: block;
		float:left;
		left: 15%;
}

.footer_col_2 h4{
	text-align: center;
}

.footer_col_3{
		width: 20%;
		position: relative;
		text-decoration: none;
		color: black;
		text-align: center;
		display: block;
		float: right;
}

.footer_col_3 h4{
	text-align: right;
}

.footer_col_1 a{
		text-align: left;
		display: block;

}

.footer_col_2 a{
		text-align: center;
		display: block;
}

.footer_col_3 a{
		text-align: right;
		display: block;
}

.footer_bottom{
	margin-top: 20px;
}


div .copyright{
		display: block;
		position: absolute;
}
